<footer>
    <div class = "footer">
        <div class="f_socials">
          <a class  = "icons" href = "/instagram"><i class="fa-brands fa-instagram"></i></a>
          <a class  = "icons" href = "/facebook"><i class="fa-brands fa-facebook"></i></a>
          <a class  = "icons" href = "/twitter"><i class="fa-brands fa-twitter"></i></a>
        </div>
        <br>
        <div class="comp_name">
         <b> &copy; AirBNB Private Ltd.</b>
        </div>
        <br>
        <div class="privacy">
         <a class = "priv_icons" href = "listings/privacy">Privacy</a> 
         <a class = "priv_icons" href = "listings/terms">Terms & Conditions</a> 
        </div> 
    </div>
</footer>