body,html
{
  font-family: "Plus Jakarta Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.container
{
    flex: 1;
}

.fa-compass
{
    color: red;
    font-size: 2rem;
}

.navbar
{
    height: 5rem;
}

.nav-link
{
    color: darkblue !important;
}

.footer
{
    background-color: rgb(128, 128, 128, 0.2);
    height: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.f_socials
{
  margin-bottom: -10px;
}

.privacy
{
    margin-top: -10px;
}

.privacy a
{
  text-decoration: none;
}

.privacy a:hover
{
  text-decoration: none;
  color: black;
}

.priv_icons
{
    margin-left: 0.5em;
}

.icons
{
    font-size: 1.3rem;
    margin-left: 0.3rem;
    padding-bottom: 100px ;
    color: black;
}
.icons:hover
{
    color: rgb(255, 0, 0, 0.8);
}

.cards
{
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
}

.card
{
    border: none !important;
    margin-top: 1rem;
}

.card-img-top
{
    border-radius: 1rem !important;
    height: 17rem;
}

.card-body
{
    padding: 0 !important;
    padding-top: 0.5rem !important;
}

.btn-danger:hover
{
    background-color: blueviolet !important;
}

.btn-danger
{
    margin-bottom: 0.5rem;
}

.title
{
    margin-top: 1.5rem;
}

.show_card
{
    height: 25rem;
    width: 45rem !important;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.show_cards
{
  display: flex;
  justify-content: center;
}

.alert
{
    height: 6rem;
    width: 60rem;
    display: flex;
    justify-content: center;
}

.error_box
{
    display: flex;
    justify-content: center;
}

.navbar_buttons
{
    display: flex;
    justify-content: space-around;
    width: 10rem;
}

#map 
{ 
    height: 400px;
    width: 100%; 
}

#filters
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.filter
{
    text-align: center;
    margin-right: 1rem;
    color: rgb(0, 0, 0, 0.5);
}

.filter:hover
{
    color: black;
    cursor: pointer;
}

.form-check
{
    border: 1px solid black;
    border-radius: 1rem;
    height: 3.5rem;
    padding: 0.9rem;
    margin-left: 0.5rem;
    padding-left: 1rem !important;
    padding-right: 3rem !important;
    text-align: center;
    margin-left: 9rem;
}

.tax-info
{
    display: inline;
}

.search
{
    margin-right: 25rem;
}

.search_box
{
    border-radius: 4rem !important;
}

.search_btn
{
    border-radius: 4rem !important;
}

.search_btn i
{
    display: inline !important;
    margin-right: 0.5rem;
}